fastapi
uvicorn
sqlalchemy
psycopg2-binary
transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
python-multipart
requests
Levenshtein
py-tlsh
pandas
scikit-learn
httpx
cachetools
pydantic-settings
