fastapi
uvicorn
sqlalchemy
psycopg2-binary
transformers
torch
python-multipart
requests
Levenshtein
py-tlsh
datasets
evaluate
accelerate
kagglehub
pandas
scikit-learn
httpx
cachetools
pydantic-settings
